.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 13rem;
  padding: 5px;
  margin: 5px 0;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.content__card:hover {
  background-color: white;
  color: black;
}
.content__card img {
  width: 100%;
}

.content__card__title {
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  padding: 2px;
  padding-bottom: 0.5rem;
}

.content__sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}

.content__poster {
  border-radius: 10px;
}

@media (max-width: 550px) {
  .content__card {
    width: 16rem;
  }
}
