/* ///////////////////////////////////////////
 */
.ContentModal__container {
  height: 70vh;
  width: 70vw;
  background: linear-gradient(to bottom, #1a1a1a, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.ContentModal__poster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.ContentModal__image {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ContentModal__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.ContentModal__Heading {
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
  color: whitesmoke;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.ContentModal__description {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 2rem;
}

.ContentModal__description::-webkit-scrollbar {
  width: 8px;
}

.ContentModal__description::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}

.ContentModal__description::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.ContentModal__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.ContentModal__buttons > button {
  min-width: 200px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .ContentModal__container {
    height: 70vh;
    width: 70vw;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .ContentModal__poster {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .ContentModal__details {
    align-items: center;
  }

  .ContentModal__description {
    max-height: 300px;
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .ContentModal__buttons > button {
    margin-bottom: 0;
  }

  .ContentModal__poster {
    align-self: flex-start;
  }

  .ContentModal__image {
    height: 30rem;
    width: 70rem;
  }
}

/* //////////////////////////////////////
 */
