.header {
  /* background-color: #39455a; */
  background: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(38, 76, 140) 76.7%,
    rgb(31, 63, 116) 100.2%
  );
  display: flex;
  justify-content: center;
  font-size: 4vw;
  position: fixed;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 2px black;
  box-shadow: 1px 1px 5px black;
  padding: 1rem;
  z-index: 1000px;

  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header span {
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    font-size: 6vw;
  }
}
